body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color:lightblue;
    background-color: white;
}

#board{
    background-color: lightblue;
    border-bottom: 3px solid rgb(168, 168, 168);
}
