body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color:lightblue;
}

#board{
    background-color: lightblue;
    border-bottom: 1px rgb(62, 77, 82);
}